@mixin scrollbar($size: 13px) {
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        min-height: 16px;
        background-color: $scrollbar-fg;
        background-clip: padding-box;
        border: 3px solid $scrollbar-bg;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:active,
    &::-webkit-scrollbar-thumb:hover {
        background-color: $scrollbar-active-fg;
    }
}
