[submodule "src/assets/styles/utils/normalize"]
	path = src/assets/styles/utils/normalize
	url = https://github.com/necolas/normalize.css
[submodule "src/assets/styles/utils/hamburgers"]
	path = src/assets/styles/utils/hamburgers
	url = https://github.com/jonsuh/hamburgers
[submodule "src/assets/styles/includes/resume"]
	path = src/assets/styles/includes/resume
	url = https://github.com/mnjul/html-resume
