# junk files I can't stop being made.
.log/
.git/
.bundle/
yarn-error.log
node_modules/
__pycache__/

# root level misc runtime directories
tmp/
var/
bin/
vendor/ruby/
vendor/node/
font-awesome
.deprecated/

# swap/temp files used by editors, see [[https://simpleit.rocks/git/make-git-ignore-temporary-files-produced-by-emacs-and-vim-in-all-directories-globally/][here]].
*~
\#*\#
.\#*
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# generated assets within the src directory
src/assets/scripts/*.bundle.js

# everything else
*TODO-*
TODO
TODO/
DONE/
