{{ define "main" }}
  <article>
    {{ $hl := slice }}

    {{/* First we show the pinned posts */}}
    {{ range .Params.pinned_posts }}
      {{ with $.Site.GetPage . }}
        {{ $hl = $hl | append . }}
      {{ else }}
        {{ warnf "Failed to find highlighted page: %s" . }}
      {{ end }}
    {{ end }}

    {{/* Then some posts with rich media content */}}
    {{ $highlight_count := (or .Params.highlight_count 5) }}
    {{ range (where $.Site.RegularPages.ByDate.Reverse ".Params.thumbnail" "!=" nil) }}
      {{ if and (lt (len $hl) $highlight_count) (not (in $hl .)) }}
        {{ $hl = $hl | append . }}
      {{ end }}
    {{ end }}

    {{/* Lastly just the n most recent posts needed to break even. */}}
    {{ $recent_count := (or .Params.recent_count 5) }}
    {{ range $.Site.RegularPages.ByDate.Reverse }}
      {{ if and (lt (len $hl) (add $recent_count $highlight_count)) (not (in $hl .)) }}
        {{ $hl = $hl | append . }}
      {{ end }}
    {{ end }}

    {{ with $hl }}
      <div id="post-thumbs">
        {{ range . }}
          {{ partial "utils/home-slide-item" (dict "context" $.Page "post" .) }}
        {{ end }}
      </div>
    {{ end }}

    {{ if .Content }}
      <hr class="full-width" style="margin-top: 0px;"/>

      <div>
        {{ partial "content" . }}
      </div>

      <hr class="full-width"/>
    {{ end }}

    {{ $exercises := where $.Site.Pages "Section" "exercises" }}
    {{ $exercises = where $exercises "Params.solution" "!=" nil }}
    {{ with index (shuffle $exercises) 0 }}
      <h2>Snippet of The Day</h2>
      <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>

      <!--
        I can't find a visually pleasing place to put a link, so lets just
        make both the source code and the title text link to the exercise
        solution.
      -->
      <a href="{{ .Permalink }}" title="Snippet of The Day">
        {{ highlight .Params.Solution (or .Params.language "") "" }}
      </a>
    {{ end }}
  </article>

  {{ partial "utils/meta" . }}
{{ end }}
