<header class="site-header">
  <h1 class="site-title">
    {{ with .Site.BaseURL }}<a href="{{ . }}">{{ end }}
    {{- or .Site.Params.name .Site.Title -}}
    {{ if .Site.BaseURL }}</a>{{ end }}
  </h1>

  <div class="about">
    {{ with .Site.Params.subtitles }}
      {{ $is_collection := reflect.IsSlice . }}

      <p id="subtitle"
         {{ if $is_collection }}data-alternatives="{{ . | jsonify }}"{{ end }}>
        {{ with $.Site.Params.subtitle }}
          {{ . }}
        {{ else }}
          {{ if $is_collection  -}}
            {{ index . 0 }}
          {{ else }}
            {{ . }}
          {{- end }}
        {{ end }}
      </p>
    {{ end }}

    {{ partial "utils/sm_links" . }}
  </div>
</header>
