{{ $has_thumbnail := .post.Params.thumbnail }}

<a href="{{ .post.Permalink }}"
   class="
     post-slide__post
     post-slide__post--with{{ if not $has_thumbnail }}out{{ end }}-thumbnail
   ">

  {{ if $has_thumbnail }}
    {{ partial "utils/thumbnail" (dict "post" .post "resize" "1000x1000" "classes" "post-slide__post__thumbnail" "hide_caption" true "no_link_to_image" true) }}
  {{ else }}
    <div class="post-slide__post__thumbnail">
        {{ partial "core/fontawesome" (dict "context" $.context "type" "regular" "name" "file" "classes" "post-slide__post__thumbnail") }}
      </div>
  {{ end }}

  <div class="post-slide__post__content">
    <span class="title">{{ .post.Title }}</span>
    <span class="post-slide__post__date">{{ dateFormat "2006-01-02" .post.Date }}</span>
  </div>
</a>
