<script src="https://polyfill.io/v3/polyfill.min.js?features=es6" async="true"></script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
     extensions: ["tex2jax.js"],
     jax: ["input/TeX", "output/HTML-CSS"],
     tex2jax: {
         inlineMath:  [ ['$','$'],   ["\\(","\\)"] ],
         displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
         processEscapes: true
     },
     "HTML-CSS": { fonts: ["TeX"] }
 });
</script>
<script id="MathJax-script" async="true" src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
