{{/* build list items for the current paginated page. */}}

{{/* prepopulate page recursively, then posts. */}}
{{ with and (not .Params.hide_subsections) .Sections }}
  <h2>Subsections</h2>

  <table class="pagination">
    {{ range sort . "Title" }}
      {{ $title := (or .Title .File.ContentBaseName) }}
      {{ if eq $title "_index" }}
        {{ $title = path.Base .File.Dir }}
      {{ end }}

      <tr>
        <td><a href="{{ .Permalink }}">{{ $title | title }}</a></td>
      </tr>
    {{ end }}
  </table>
{{ end }}

{{/* doubt I was posting before I was born 😀. */}}
{{ $last_year := 1999 }}

{{/* TODO fix pagination is now broken */}}
{{ $pages := .Paginator.Pages.ByDate.Reverse }}
{{ if or .Params.index_recursively (and (or (eq .Params.index_recursively nil) (eq .Params.index_recursively "maybe")) (eq 0 (len $pages))) }}
  {{/* when we're indexing recursively, we index every page */}}
  {{ $pages = .CurrentSection.RegularPagesRecursive.ByDate.Reverse }} 
{{ end }}

{{/* ignore the broken HTML, it's necessary. */}}
{{ range $pages }}
  {{ if not (eq $last_year .Date.Year) }}
    {{ if not (eq $last_year 1999) }}
      </table> {{/* close the previous table. */}}
    {{ end }}

    {{ if not $.Params.meta.no_date }}
      <h2>{{ .Date.Year }}</h2>
    {{ end }}

    <table class="pagination">
    {{ $last_year = .Date.Year }}
  {{ end }}

  <tr>
    <td><a href="{{ .Permalink }}">{{ (or .Title .File.ContentBaseName) | title }}</a></td>
    {{ if not $.Params.meta.no_date }}
      <td>{{ dateFormat "01-02" .Date }}</td>
    {{ end }}
  </tr>
{{ end }}
</table>
