<!-- Adapted from [[https://moderncss.dev/pure-css-smooth-scroll-back-to-top/][here]], this adds a button which jumps you back to the top of the page. -->

<style>
  /* Make it smooth as butter */
  @media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
</style>

<noscript>
  <!--
    -- Can't use javascript to display the scroll button so
    -- lets just make it always visible.
  -->
  <style>
    .back-to-top-wrapper--hidden {
      visibility: visible !important;
    }
  </style>
</noscript>

<div class="back-to-top-wrapper toolbar__item-wrapper toolbar__item-wrapper--hidden">
  <a href="#" class="back-to-top-link toolbar__item" aria-label="Scroll to Top">
    {{ partial "core/fontawesome" (dict "context" . "type" "solid" "name" "arrow-up") }}
  </a>
</div>

<script>
  'use-strict';

  const SHOW_THRESHOLD = 150; // How many pixels before you see the button

  function showButton() {
    return window.scrollY > SHOW_THRESHOLD;
  }

  const scrollWrapper = document.querySelector('.back-to-top-wrapper');
  function toggleScrollbackDisplay(e) {
    if (showButton()) {
      scrollWrapper.classList.remove('toolbar__item-wrapper--hidden');
      scrollWrapper.classList.add('toolbar__item-wrapper--visible');
    } else {
      scrollWrapper.classList.remove('toolbar__item-wrapper--visible');
      scrollWrapper.classList.add('toolbar__item-wrapper--hidden');
    }
  }

  if (scrollWrapper) {
    window.addEventListener('load', toggleScrollbackDisplay);
    window.addEventListener('scroll', toggleScrollbackDisplay);
  } else {
    console.warn('Failed to find scroll-wrapper element, skipping event-setup');
  }
</script>
