{{ $post := .post }}
{{ $classes := .classes }}
{{ $fit_to := or .post.Params.thumbnail.resize .resize }}
{{ $hide_caption := .hide_caption }}
{{ $link_to_image := not .no_link_to_image }}

{{ with $thumb := $post.Params.thumbnail }}
  {{ if not (reflect.IsMap $thumb) }}
    {{ $thumb = (dict "path" $thumb "caption" nil "source" nil "height" nil) }}
  {{ end }}

  {{ with $res := $post.Resources.GetMatch $thumb.path }}
    {{ with $fit_to }}
      {{ $res = $res.Fit . }}
    {{ end }}

    <figure class="{{ with $classes }}{{ . }}{{ else }}post-thumbnail{{ end }}">
      {{ if $link_to_image }}
      <a href="{{ $res.Permalink }}" target="_blank">
      {{ end }}
        <img
          style="
            {{ with $thumb.height }}max-height: {{ . }}px;{{ end }}
            {{ with $thumb.position }}object-position: {{ . }};{{ end }}
          "
          alt="thumbnail-for-{{ replace $post.Title " " "-" }}"
          src="{{ $res.Permalink }}" />
      {{ if $link_to_image }}
      </a>
      {{ end }}

      {{ if and (not $hide_caption) (or $thumb.caption $thumb.source.title) }}
        <figcaption>
          {{ with $thumb.caption }}{{ . }}{{ end }}
          {{ with $thumb.source }}
            {{ if reflect.IsMap . }}
              [<a href="{{ .link }}">{{ .title }}</a>]
            {{ else }}
              <a href="{{ . }}">{{ . }}</a>
            {{ end }}
          {{ end }}
        </figcaption>
      {{ end }}
    </figure>
  {{ else }}
    {{ warnf "failed to find thumbnail for post: %s%s" $post.File.Dir $thumb.path }}
  {{ end }}
{{ end }}
