<ul>
  <li>
    {{- partial "core/fontawesome" (dict "context" .Page "type" "solid" "name" "paper-plane" "classes" "fa") . -}}

    <a href="{{ .Site.Params.contact.mail }}">
      {{ replace .Site.Params.contact.mail "mailto:" "" }}
    </a>
  </li>
  <li>
    {{- partial "core/fontawesome" (dict "context" .Page "type" "solid" "name" "phone-alt" "classes" "fa") . -}}

    <a href="{{ .Site.Params.contact.phone | safeURL }}">
      <!-- TODO prettify -->
      {{ $number :=  replace .Site.Params.contact.phone "tel:+" "" }}
      {{ $number }}
    </a>
  </li>
  <li>
    {{- partial "core/fontawesome" (dict "context" .Page "type" "brands" "name" "github" "classes" "fa") . -}}

    <a href="{{ .Site.Params.contact.github }}">
      {{ replace .Site.Params.contact.github "https://" "" }}
    </a>
  </li>
  <li>
    {{- partial "core/fontawesome" (dict "context" .Page "type" "brands" "name" "gitlab" "classes" "fa") . -}}

    <a href="{{ .Site.Params.contact.gitlab }}">
      {{ replace .Site.Params.contact.gitlab "https://" "" }}
    </a>
  </li>
  <li>
    {{- partial "core/fontawesome" (dict "context" .Page "type" "brands" "name" "linkedin-in" "classes" "fa") . -}}

    <a href="{{ .Site.Params.contact.linkedin }}">
      {{ replace .Site.Params.contact.linkedin "https://www." "" }}
    </a>
  </li>
  <li>
    {{- partial "core/fontawesome" (dict "context" .Page "type" "solid" "name" "user" "classes" "fa") . -}}

    <a href="{{ .Site.Params.contact.upwork }}">
      {{ replaceRE "https?://(www.)?" "" .Site.Params.contact.upwork }}
    </a>
</ul>
