<aside id="sidebar">
  <div class="side-block" id="contact">
    <h1>Contact Info</h1>
    {{ partial "utils/resume/contact" . }}
  </div>

  {{ $sidebar := .Params.sidebar }}
  {{ if not (reflect.IsSlice $sidebar) }}
    {{ $sidebar = slice $sidebar }}
  {{ end }}
  {{ range $sidebar }}
    {{ range $title, $items := .  }}
      {{ if not (reflect.IsMap $items) }}
        {{ $items = dict "items" $items }}
      {{ end }}

      <div class="side-block" id="skills">
        <h1>{{ $title }}</h1>

        <ul class="{{ $items.class }}">
          {{ range $items.items }}
            {{ if not . }}
              {{/* an empty/nil entry starts a new list */}}
              </ul><ul class="{{ $items.class }}">
            {{ else }}
              <li>{{ . | markdownify }}</li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    {{ end }}
  {{ end }}

  <!--
       <div class="side-block no-print" id="disclaimer">
       You're viewing the HTML version of this page,<br /> view the PDF <a href="./{{ .File.BaseFileName }}.pdf">here</a>.
       </div> -->
</aside>
