@import './page';

// h2 { font-weight: 600; }
h3 { font-weight: 500; }

$slide-min-height: 140px; // minimum height of all posts.

// ------------------------- A Post -------------------------
.post-slide__post {
    min-height: $slide-min-height;
    overflow: hidden;
    outline: none;
    text-align: left;

    position: relative;

    box-sizing: border-box;
    display: inline-block;

    .title {
        font-size: 22px;
        color: white;
        text-shadow: 0 0 8px black;
    }

    .post-slide__post__content {
        z-index: 10;
    }

    .post-slide__post__content::before {
        content: '';
        width:  100%;
        height: 100%;
        z-index: -1;

        position: absolute;
        top: 0;
        left: 0;

        opacity: 0.2;
        background: rgb(11,16,20);
    }

    &:hover, &:focus {
        .post-slide__post__content::before {
            opacity: 0.7;
        }
    }
}

.post-slide__post__content {
    padding: 10px 20px;
    width:  100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

.post-slide__post__date {
    position: absolute;
    bottom: 12px;
    right: 0;
    padding: 4px 12px;
    background: rgba(255,255,255,0.6);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    transform: translateX(120%);
    transition: transform 0.2s;
}

.post-slide__post:hover,
.post-slide__post:focus {
    .post-slide__post__date {
        transform: none;
    }
}

// -------------------------- Thumbnails --------------------------

$thumbnail-scale: 50%;
.post-slide__post .post-slide__post__thumbnail {
    margin: 0px;
    position: absolute;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    z-index: -1;

    width:  100%;
    height: 100%;
}
.post-slide__post--without-thumbnail .post-slide__post__thumbnail {
    padding: 20px;
    box-sizing: border-box;
    width:  80px;
    height: 80px;
    top: unset;
    right: unset;
    fill: $neutral-grey;
}
.post-slide__post--with-thumbnail .post-slide__post__thumbnail img {
    width:  100% + $thumbnail-scale;
    height: 100%;
    object-fit: cover;

    transition: all 0.4s;
    transition-property: blur, margin-left, width, transform;

    transform-origin: 50% 50%;
}
.post-slide__post--with-thumbnail:hover,
.post-slide__post--with-thumbnail:focus {
    .post-slide__post__thumbnail img {
        width: 100%;
        margin-left: 0px;
        transform: none;
        filter: blur(2px);
    }
}

// ------------------------ Slides Container ------------------------
#post-thumbs {
    margin-top: 10px;
    display: grid;
    @include full-main-width;

    $column-count:      6;                                                      // Number of columns used to divide the grid.           NOTE: should be divisable by 2 & 3.
    $main-column-count: 4;                                                      // Number of columns the first pinned post should take. WARN: Should be less than $column-count;
    $slide-hl-rows: 3;                                                          // Number of rows the main post should take up.
    grid-template-columns: repeat($column-count, 1fr);

    & > .post-slide__post {
        // by default each slide takes up half the available space
        grid-column: span #{$column-count / 2};

        &:first-child {
            min-height: $slide-hl-rows * $slide-min-height;
            grid-column: span #{$column-count};
        }

        @media screen and (max-width: $medium) {
            grid-column: span #{$column-count};
        }

        @media screen and (min-width: $large) {
            &:first-child {
                grid-row:    1 / #{$slide-hl-rows+1};
                grid-column: span $main-column-count;
            }

            @for $i from 2 through $slide-hl-rows+1 {
                &:nth-child(#{$i}) {
                    grid-column: span #{$column-count - $main-column-count};
                }
            }

            &:nth-child(n+#{$slide-hl-rows+2}) {
                grid-column: span #{$column-count / 3};
            }
        }
    }
}


hr.full-width {
    @include full-main-width;
}
