@import './page';

h2 { font-weight: 600; }
h3 { font-weight: 500; }

// used for posts which're to be scrolled, not shown statically.
.slide-container {
    overflow-x: auto;
    @include scrollbar(13px);
}

// ------------------------- A Post -------------------------
.posts-slider__post {
    height: 140px;
    overflow: hidden;
    outline: none;
    text-align: left;

    position: relative;
    border-radius: 8px;

    box-sizing: border-box;
    display: inline-block;

    .title {
        font-size: 22px;
        color: white;
        text-shadow: 0 0 8px black;
    }

    .posts-slider__post__content {
        z-index: 10;
    }

    .posts-slider__post__content::before {
        content: '';
        width:  100%;
        height: 100%;
        z-index: -1;

        position: absolute;
        top: 0;
        left: 0;

        opacity: 0.2;
        background: rgb(11,16,20);
    }

    &:hover, &:focus {
        .posts-slider__post__content::before {
            opacity: 0.7;
        }
    }
}

.posts-slider__post__content {
    padding: 10px 20px;
    width:  100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

.posts-slider__post__date {
    position: absolute;
    bottom: 12px;
    right: 0;
    padding: 4px 12px;
    background: rgba(255,255,255,0.6);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    transform: translateX(120%);
    transition: transform 0.2s;
}

.posts-slider__post:hover,
.posts-slider__post:focus {
    .posts-slider__post__date {
        transform: none;
    }
}

// -------------------------- Thumbnails --------------------------

$thumbnail-scale: 50%;
.posts-slider__post .posts-slider__post__thumbnail {
    margin: 0px;
    position: absolute;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    z-index: -1;

    width:  100%;
    height: 100%;
}
.posts-slider__post--without-thumbnail .posts-slider__post__thumbnail {
    padding: 20px;
    box-sizing: border-box;
    width:  80px;
    height: 80px;
    top: unset;
    right: unset;
    fill: $grey;
}
.posts-slider__post--with-thumbnail .posts-slider__post__thumbnail img {
    width:  100% + $thumbnail-scale;
    height: 100%;
    object-fit: cover;

    transition: all 0.4s;
    transition-property: blur, margin-left, width, transform;

    transform-origin: 50% 50%;
}
.posts-slider__post--with-thumbnail:hover,
.posts-slider__post--with-thumbnail:focus {
    .posts-slider__post__thumbnail img {
        width: 100%;
        margin-left: 0px;
        transform: none;
        filter: blur(2px);
    }
}

// ------------------------ Specific Slider Types ------------------------
#highlighted-posts, #recent-posts {
    margin-top: 10px;
}

#highlighted-posts {
    display: grid;

    $gap: 10px;
    grid-row-gap: $gap;
    grid-column-gap: 2 * $gap;
    grid-template-columns: repeat(2, calc(50% - #{$gap}));

    @media screen and (max-width: $medium) {
        grid-template-columns: 100%;

        .posts-slider__post {
            left: -$center-padding;
            width: calc(100% + #{2 * $center-padding});
            border-radius: 0px;
        }
    }
}

#recent-posts {
    width: 100%;
    max-height: 400px;

    --bottom-margin: 15px;

    .posts-slider__post  {
        width: 100%;
        margin-bottom: var(--bottom-margin);

        &:not(:last-child) {
            margin-right: var(--right-margin);
        }
    }

    @media screen and (min-width: $small) {
        --bottom-margin: 0px;
        --right-margin: 1em;

        display: block;
        width: max-content;
        max-height: auto;

        .posts-slider__post {
            width: 350px;
        }
    }
}
