@import "./main";
@import "./includes/syntax";

// whether to wrap code blocks when they're too wide
// or instead show a scroll bar.
$code-can-has-scroll-bar: true;

@import "./includes/highlight";

ul.post-meta {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-top: 6px;
    align-items: center;
    list-style-type: none;
    justify-content: flex-start;
    font-size: var(--secondary-font-size);

    li:not(:last-child) {
        margin-right: 0.25em;
    }
    .category::before   { content: " in category "; }
    .categories::before { content: " in categories "; }

    #categories {
        margin: 0px;
    }

    .duration:not(:first-child)::before {
        content: " • ";
    }

    // Adds a divider spanning from meta to EOL.
    &::after {
        content: '';
        height: 2px;
        background-color: $divider-color;

        // clip and border-radus
        margin-left: 16px;
        margin-right: 8px;
        border-radius: 0.5px;

        // Take the full remaining width of the page
        display: flex;
        flex-grow: 1;

        margin-top: 3px; // TODO: Fix whatevers causing the alignment to be off
    }
}

aside.post-meta {
    .pagination {
        // display: flex;
        // align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 50%);

        a {
            padding: 15px;
            border-radius: 4px;

            &:hover, &:active {
                background-color: $light-grey;
            }

            margin-bottom: 20px;

            &.next {
                grid-column: 2;
            }
        }

        @media screen and (max-width: 500px) {
            grid-template-columns: 100%;
            a.next { grid-column: 1; }
        }

        span {
            display: block;

            &.pagination-label {
                color: $grey;
                font-size: .8rem;
            }

            &.pagination-title {
                color: #111;
                font-weight: 700;
                margin-top: .25rem;
            }
        }
    }

    .tags {
        display: flex;
        align-items: center;
        padding-bottom: 30px;

        $font-size: 0.8rem;

        .icon {
            width:  $font-size;
            height: $font-size;
            margin-right: 5px;
        }

        ul {
            margin: 0px;
            display: inline-block;

            font-size: $font-size;

            li {
                margin-right: 5px;
            }
        }
    }
}
