@import './includes/resume/style';
@import './utils/normalize';

// TODO remove unused styles.
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

body {
    zoom: 140%;
}

:root {
    // TODO switch to .2
    --main-width: 6.1in;
}

#title h1 {
    margin-top:    0px;
    margin-bottom: 0px;
}

#contact {
    li {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        grid-gap: 8px;
    }

    .fa {
        width:  9pt;
        height: 9pt;
        fill: #444;
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.no-print {
    @media print {
        display: none;
    }
}

.column-2 {
    columns: 2;
}

.column-3 {
    columns: 3;
}

.grid-column-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header-icon {
    top: 1pt;
    fill: #444;
    width:  14px;
    height: 14px;

    z-index: 1;
    position: absolute;
    left: var(--main-blocks-title-icon-offset-left);
}

.my-location {
    @extend .location;
    &::before {
        // remove font dependent icon.
        content: '' !important;
    }

    .fa {
        display: inline-block;
        position: relative;
        right: 3pt;
        top: .25pt;
        font-style: normal;
        text-decoration: inherit;
        width:  6pt;
        height: 6pt;
    }
}

.details li ul {
    margin-top: 0.01in !important;
}

.details.concise div {
    margin-top: 0px !important;
}

.inline-list {
    list-style-type: none;
    li {
        display: inline-block;
        &::before { content: '' !important; }
        &:not(:last-child)::after {
            content: ',\00a0';
            margin-right: 6px;
            // white-space: pre;
        }
    }
}

.skills {
    font-size: 8.5pt;
}

#pdf-link {
    @extend #disclaimer;
    bottom: unset;
    top: -16px;
}

// move the disclaimer to the top;
#disclaimer {
    top: -10px;
    bottom: unset;
}

#title {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-column-gap: 25px;
    margin-left: .55in;

    // replace position with margin
    margin-left: .55in;
    left: unset;
}

#objective {
    color: #444; // match main
    font-size: 7.5pt;

    text-transform: none;
    text-align: justify;
}

#main {
    font-size: 7.54pt;
    padding-top: 38px;
}

p.break {
    margin: 0px;
}

.details > div {
    h4:not(:first-child) {
        margin-top: 0px;
    }

    h4 {
        margin: 0px;
    }

    & > ul {
        margin: 0px !important;
    }
}
