@import "./main";

$highlight: $placeholder;
form {
    $radius: 5px;
    $trans-duration: 0.5s;
    margin: 16px 0px;
    display: flex;

    transition: border $trans-duration;

    .search {
        width: 100%;
        border: 3px solid $highlight;
        border-right: none;
        padding: 5px;
        height: 20px;
        caret-color: $fg;

        border-radius: $radius 0 0 $radius;
        outline: none;

        &::placeholder {
            color:  $placeholder;
        }
    }

    button {
        transition: background-color $trans-duration;
        border-radius: 0 $radius $radius 0;
        border: 1px solid $highlight;
        background: $highlight;
        text-align: center;
        color: $main-bg;
        outline: 0px;
        cursor: pointer;
    }

    &.active {
        .search, button {
            border-color: $fg;
        }

        button {
            background: $fg;
        }
    }
}

.loader-container {
    margin-top: 16px;
    display: flex;
    justify-content: center;

    .loader {
        stroke: $fg;
        width:  4em;
        height: 4em;
    }
}

ul#search-results {
    list-style-type: none;
    padding: 0px;

    li {
        margin-top: 50px;

        &.search-status {
            text-align: center;
        }
    }

    div.content {
        margin-top: 10px;
    }

    @include link($fg);

    .meta {
        --font-size: 12px;
        --secondary-font-size: 12px;

        margin: 20px 0px;
        display: flex;
        vertical-align: middle;

        fill:  $highlight;
        color: $highlight;

        .tags {
            @extend .inline-list;
            @include link($highlight, $placeholder-bold);
        }

        .date, .tags {
            margin: 0px 8px;
        }

        .icon {
            width:  var(--font-size);
            height: var(--font-size);

            &:not(:first-child) {
                margin-left: 8px;
            }
        }
    }
}
