@import "main";

.tax-entries {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .term-count {
        color: $caption;
        display: inline-block;
        position: relative;
        top: -8px;
        right: -2px;
        font-size: 12px;
    }

    & > * {
        margin: 6px 20px;
    }
}
